<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-card">
    <h1 class="form-title">Admin Register</h1>
  
    <div class="input-row">
      <div class="input-field">
        <input formControlName="firstname" placeholder="Firstname" maxlength="50" required />
      </div>
      <div class="input-field">
        <input formControlName="lastname" placeholder="Lastname" maxlength="50" required />
      </div>
    </div>
  
    <div class="input-field">
      <input formControlName="phone" placeholder="Your phone" maxlength="10" required />
    </div>
    
    <div class="input-field">
      <input type="text" formControlName="username" placeholder="Username" maxlength="50" required />
    </div>
    
    <div class="input-field">
      <input type="email" formControlName="email" placeholder="Email" maxlength="50" required />
    </div>
  
    <div class="input-field">
      <input type="password" formControlName="password" placeholder="Password" maxlength="50" required />
    </div>
  
    <div class="input-field">
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" maxlength="50" required />
    </div>
  
    <button type="submit" class="submit-btn">Register</button>
  
    <div class="form-footer">
      <a routerLink='/' class="login-link">Already have an account? Sign in</a>
    </div>
  </form>
</div>